h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

h2 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

button {
  min-width: 150px;
  min-height: 70px;
  background-color: green;
  border-radius: 40px;
  color: white;
}

button:hover {
  background-color: #76EE00;
}
